@charset "utf-8";

ul {
    line-height: 1.5rem;
    list-style-type: circle;
}

ol {
    line-height: 1.5rem;
    list-style-type: upper-roman;
}

dl {
    /* border: 2px solid rgba(0, 0, 255, 0.54); */
    background-color: #f2f2f2;
    padding: 20px;
}

dt {
    font-weight: bold;
    font-size: 1.5rem;
}

dd {
    margin : 10px;
    margin-bottom: 15px;
}