@charset "utf-8";

.sub {
    background-color: rgba(255, 255, 0, 0.24);
    position: relative;
}

.quick {
    background-color: pink;
    position: fixed;
    z-index: 1;
}

p {
    background-color: aqua;
}

.note {
    background-color: lime;
    position: absolute;
}